.category-avatar {
  background: var(--ion-color-light);
  color: var(--ion-color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
}

.empty-state {
  margin-top: 20vh;
  color: var(--ion-color-medium);
}

.empty-state ion-icon {
  font-size: 3rem;
  color: white;
  margin-bottom: 0.5rem;
}

.empty-state h2 {
  font-weight: 600;
  color: var(--ion-color-dark);
  margin-bottom: 0.3rem;
}